<!-- <div class="jumbotron  text-center" ng-if="!main.loggedIn">
	<div>
		<h1> If you have balls Sign up !</h1>


	</div>

	<div>
		<p>Login to write your story </p>
		<a href='/login' class="btn btn-primary">Login</a>

	</div>
</div>

<div class="row" ng-if="main.loggedIn">
	<div class="col-md-3">

	</div>

	<div class="col-md-4" ng-controller="StoryController as story">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading"> Write your story </div>
				<div class="panel-body">
					<form ng-submit="story.create()" method="post">
						<input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="...." required />
						<div class="space">&nbsp;</div>
							<button type="submit" class="btn btn-success">Post</button>

					</form>
				</div>
			</div>

			<div class="panel panel-success">
				<div class="panel-body" ng-repeat="each in story.stories">
					<p> {{ each.content }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">

	</div>
</div> -->
<header class="top-bar">
	<h2 class="top-bar__headline">Latest articles</h2>
	<div class="filter">
		<span>Filter by:</span>
		<span class="dropdown">Popular</span>
	</div>
</header>
<div ng-controller="StoryController as story">
	<div ng-repeat="each in story.stories | reverse">
			<a class="grid__item" href="#">
				<h2 class="title title--preview"> {{ each.title }}</h2>
				<div class="loader"></div>
				<span class="category"></span>
				<div class="meta meta--preview">
					<img class="meta__avatar" src="img/authors/1.png" alt="author01" />
					<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
					<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
				</div>
			</a>
	</div>
</div>



